#liveclock.outer_face
    .marker.oneseven
    .marker.twoeight
    .marker.fourten
    .marker.fiveeleven

    .inner_face(style="background:"+mobset[3]+" url(\""+mobset[4]+"\") repeat -25%;")
        .hand.hour
        .hand.minute
        .hand.second
h1(style="padding-top:0px;font-size:5rem;")#time.uk-heading-hero time

