#liveclock.outer_face
    .marker.oneseven
    .marker.twoeight
    .marker.fourten
    .marker.fiveeleven


    if mobset
        - var color = mobset[3]
        - var bg = mobset[4]
    else
        - var color = settings.themecol
        - var bg = settings.themeimg

    .inner_face(style="background:"+color+" url(\""+bg+"\") repeat -25%;")
        .hand.hour
        .hand.minute
        .hand.second
//- time
h1(style="padding-top:0px;font-size:5rem;")#time.uk-heading-hero 

