extends layout_admin

block content
  h1.center Islamic Cultural Centre of Ireland


  div.container
    h2 #{title}
    if message
      div.message
        i.inbox.icon
        div.header #{message}

    div
      a(href="/admin") Back to admin area