html {
    color: #333;
}

body, .uk-table th {
    font-family: "Open Sans",'Helvetica Neue',Arial,Helvetica,sans-serif;
}
h1, h2, h3, h4, h5 {
    font-family: "Open Sans",'Helvetica Neue',Arial,Helvetica,sans-serif;
}
.arabic, .uk-table th.arabic {
    font-family: "Changa",'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: 200;/*200 500*/
}
h2 {
  font-size: 80%;
  padding: 10px;
}

/*refresh*/
#refresh {
    z-index: 9999;
    display: block;
    position:fixed;
    top:-80px;
    left:0;
    width:100%;
    height:80px;
    background:none;
    font-weight: 300;
    font-size: 90%;
  }
  #refresh .fadein {
    height: 10px;
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,.7)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,.7)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,.7)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,.7)); /* Standard syntax */
  }
  #refresh .black {
    /* height: 60px; */
    background: black;
    color: rgba(255,255,255,.75);
    vertical-align: middle;
    text-align: center;
    width: 100%;
    padding: 10px;
    border-top: 5px solid #C4C4AB;
    border-bottom: 5px solid #C4C4AB;
    line-height: 30px;
  }
  #refresh .fadeout {
    height: 10px;
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.0)); /* Standard syntax */
  }



  .uk-table-divider>:not(:first-child)>tr {
      border-top: 1px solid #999;
  }
  .next {
      color: #000;
      font-weight: bold;
  }

  #overlay {
    background: rgba(0,0,0,0);
    color: #eee;
    font-size: 150%;
    transition: background 15s, display 15s, z-index 15s;
  }

  .uk-table th {
      color: #333;
  }
  hr {
    border-top: 1px solid #fff;
  }






  input[type='range'] {
    box-sizing: border-box;
    border: 0px solid transparent;
    padding: 0px;
    margin: 0px;
    width: 210px;
    height: 50px;
    cursor: pointer;
    background: -webkit-repeating-linear-gradient(90deg, #777, #777 1px, transparent 1px, transparent 40px) no-repeat 50% 50%;
    background: -moz-repeating-linear-gradient(90deg, #777, #777 1px, transparent 1px, transparent 40px) no-repeat 50% 50%;
    background: repeating-linear-gradient(90deg, #777, #777 1px, transparent 1px, transparent 40px) no-repeat 50% 50%;
    background-size: 122px 25px;
    font-size: 16px;
  }
  input[type='range'],
  input[type='range']::-webkit-slider-runnable-track,
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  input[type='range']::-webkit-slider-runnable-track {
    box-sizing: border-box;
    width: 200px;
    height: 5px;
    border-radius: 2px;
    background: #777;
  }
  input[type='range']::-moz-range-track {
    box-sizing: border-box;
    width: 200px;
    height: 5px;
    border-radius: 2px;
    padding: 0px;
    background: #777;
  }
  input[type='range']::-moz-range-thumb {
    box-sizing: border-box;
    padding: 0px;
    height: 20px;
    width: 10px;
    border-radius: 2px;
    border: 1px solid;
    background: #EEE;
  }
  input[type='range']::-ms-track {
    box-sizing: border-box;
    width: 210px;
    height: 5px;
    border-radius: 2px;
    padding: 0px;
    background: #777;
    color: #777;
  }
  input[type='range']::-webkit-slider-thumb {
    box-sizing: border-box;
    padding: 0px;
    height: 20px;
    width: 10px;
    border-radius: 2px;
    border: 1px solid;
    margin-top: -8px;
    background: #EEE;
  }
  input[type='range']::-ms-thumb {
    box-sizing: border-box;
    padding: 0px;
    height: 20px;
    width: 10px;
    border-radius: 2px;
    border: 1px solid;
    background: #EEE;
  }
  input[type="range"]::-ms-fill-lower {
    background: transparent;
  }
  input[type='range']:focus {
    outline: none;
  }
  /*input[type='range']:after{
    position: absolute;
    content: '20 40 60 80';
    padding: 25px 4035px;
    word-spacing: 20px;
    left: 0px;
    top: 0px;
  }*/
  

  output{
    display: block;
    margin-top: 15px;
    font-size: 75%;
  }
  output:before{
    content:"Freq: ";
  }
  output:after{
    content:" mins";
  }

  .uk-form-label, .uk-button {
    font-size: 100%;
  }
  .uk-checkbox, .uk-radio {
    height: 32px;
    width: 32px;
  }
  .uk-offcanvas-close svg {
    height: 32px;
    width: 32px;
  }
  .uk-offcanvas-bar .uk-button {
    padding: 30px;
  }
  .uk-offcanvas-container .uk-offcanvas-content {
    position: inherit;
  }
  @media (min-width: 960px)
  {
    .uk-offcanvas-bar {
        width: 600px;
        padding: 0 40px 40px;
    }
  }
  .uk-select:not([multiple]):not([size]) {
    height: inherit;
  }
  .uk-offcanvas-bar .uk-select:not([multiple]):not([size]) {
    background-size: 25%;
  }
  /* .uk-table-small td, .uk-table-small th {
    padding: 10px 40px!important;
  } */
  .uk-offcanvas-bar option {
    height: 20px;
    background: #333;
    font-size: 50%;
  }
  .uk-offcanvas-bar option:hover {
    height: 20px;
    background: #999;
  }
  .uk-offcanvas-bar .uk-close {
    color: rgba(255,255,255,1);
  }
  .uk-offcanvas-bar .uk-close svg {
    height: 32px;
    width: 32px;
  }
  .uk-table-divider>:first-child>tr:not(:first-child) {
    border-top: 3px solid #fff;
  }
  .uk-table-divider>:first-child>tr:not(:first-child)::before {
    border-top: 3px solid rgba(0,0,0,.25);
    content: "";
    width:100%;
    position: absolute;
  }