body {
  /*padding: 50px;*/
    font-family: "Open Sans",'Helvetica Neue',Arial,Helvetica,sans-serif;
    /*font-family: "Roboto",'Helvetica Neue',Arial,Helvetica,sans-serif;*/
    font-size: 36px;
    font-weight: 400;/* sans, roboto: 200 300 400 500 700*/
    text-transform: uppercase;
    /*background: #A7DFF6; #A2CEBB*/
    /*background: url('../images/marble.png') repeat #90A49B;*/
    background: url('../images/marble.png') repeat #C4C4AB;
    padding: 0;
    margin: 0;
    color: #000;
    height: 100%;
    position: absolute;
}
/*html,body {height: 100%;}.ui.timetable.grid{height:90%;}.third.wide.stretched.column{height: 1080px;}*/
body.edit {
  font-size: 20px;
  width: 100%;
}
.main {
    display: table;
    table-layout: fixed;
    width: 100%;
    /*border: 3px solid #666;*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}
.main .mainrow {
  height: 100%;
}
h1 {
  font-size: 2.2em;/*5em*/
  text-shadow: 0 0 7px rgba(0,0,0,.95);
  margin: .25em 0;
  font-weight: 500;
}
h3, h4 {
  margin: .25em 0;
  /*font-size: 1.2em;*/
}
.first h3 {
  font-size: .9em;
  overflow: hidden;
  white-space: nowrap;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.section {
    display: table-row;
    /*background: rgba(150,150,100,.5);*/
}
.content
{
    display: table-cell;
    vertical-align: middle;
    border-top: 1px solid darkgreen;
    padding: 0 1em;
}
.content.bottom {
    vertical-align: bottom;
}
.content.top {
    vertical-align: top;
}
.arabic {
    font-family: "Changa",'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: 200;/*200 500*/
}

.top, .bottom {
  height: 1em;
  border-top: none;
}
.darkgrey-b {
  background: #666;
}
.white-f {
  color: #fff;
}
.nopadding {
  padding: 0;
}
.nomargin {
  margin: 0;
}
.header {
  /*background: #ccc;*/
  padding: .125em .25em;
}
.line {
  background: rgba(255,255,255,.3);
  padding: .125em .125em;
  margin: .25em 0 .25em -1rem;
  border-radius: .25em;
}
.next, .next .arabic {
  color: #aa5500;
  font-weight: 700;
}
#ticker ul {
  list-style: none;
  padding-left: 2em;
  width: 100%;
}
.message {
  width: 100%;
  background: #aa5500;
  color: #fff;
  padding: 1em;
}

input, textarea, select, button {
  font-size: 20px;
}
select {
  width: auto;
  border: 1px solid #aa5500;
  vertical-align: middle;
  margin:0;
}
textarea {
  min-height: 10rem;
  border: 1px solid #aa5500;
}
input.slider {
  width: 215px;
  margin-left: 15px;
}

.first {
  background: url('../images/marble.png') repeat #C4C4AB;
}
.second {
  background: url('../images/marble.png') repeat #cc9966;
  font-size: 60%;
  text-transform: none;
}
.third {
  background: url('../images/marble.png') repeat #C4C4AB;
  font-size: 60%;
}
.row .third.column {
  padding: 0 1rem 0 0;
}
.second .content {
  font-size: 60%;
  border-top: none;
}
.first .content {
  font-size: 60%;
  border-top: none;
  padding: 1em;
}
.news {
  display: block;
  height: 155px;
  width: 100%;
  clear: both;
  border-bottom: 1px solid darkgreen;
}
.thumb {
  width: 120px;
  height: 110px;
  float: left;
  border-radius: .5em;
  margin-right: 1em;
}
.caption {
  position:absolute;
  bottom:0;
  background:rgba(0,0,0,.5);
  color:#fff;
  padding:.25em;
  width:100%;
}
.maincaption {
  padding:5px 0px 25px;
  width: 580px;
  /*margin-top: 860px;*/
  /*position: fixed;*/
  text-align:justify;
}
.maincaption div.content {
  font-size: 60%;
  text-transform: none;
  border: 1px solid #fff;
  border-radius: .5em;
  padding: .5em;
  background: rgba(255,255,255,.25)
}
.maincaption div.meta {
  margin: 10px;
  font-size: 50%;
}
.overlay {
  background: rgba(0,0,0,0);
  /*z-index: 9999;*/
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  font-size: 2em;
  color: #ccc;
  padding-top: 1500px;
  text-align: center;
  transition: background 15s, display 15s, z-index 15s;
}
/*refresh*/
#refresh {
  z-index: 9999;
  display: block;
  position:fixed;
  top:-80px;
  left:0;
  width:100%;
  height:80px;
  background:none;
  font-weight: 300;
  font-size: 90%;
}
#refresh .fadein {
  height: 10px;
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,.7)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,.7)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,.7)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,.7)); /* Standard syntax */
}
#refresh .black {
  height: 60px;
  background: black;
  color: rgba(255,255,255,.75);
  vertical-align: middle;
  text-align: center;
  width: 100%;
  padding: 10px;
  border-top: 5px solid #C4C4AB;
  border-bottom: 5px solid #C4C4AB;
  line-height: 30px;
}
#refresh .fadeout {
  height: 10px;
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.0)); /* Standard syntax */
}
#ramadan {
  display: none;
  width: 100%;
}

span#pending-name, span#timetoprayer {
  display: inline-block;
  margin: 0 1em;
}

div.third.column.column-30 #overlay {
  background: none;
}